:root {
  --dark: #030303;
  --light: #FFFFFF;
  --gold: #9d8665;
  --red: #710707;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 22px;
}
html {
  scroll-behavior: smooth;
}
/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
  height: 150px;
}
.container {
  margin: 0 auto;
  width: 1440px;
  /* border: 1px solid red; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  align-items: end;
  gap: 25px;
  cursor: pointer;
}
.logo-img {
  width: 50px;
  height: 30px;
  mask-image: url("./assets//svg/logo.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--light);

  transition: background-color .2s linear;
}
.logo-text {
  font-family: "Forum";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;

  transition: color .2s linear;
}
.logo:hover .logo-text {
  color: var(--gold);
}
.logo:hover  .logo-img {
  background-color: var(--gold);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
.nav-link {
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--light);
  text-decoration: none;

  transition: color .2s linear;
}
.nav-link:hover {
  color: var(--gold);
}


/* welcome */

.welcome {
  height: 810px;
  background-color: var(--dark);
}
.welcome-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.welcome-title {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Forum";
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--light);
}
.welcome-subtitle {
  font-size: 28px;
  letter-spacing: 2px;
  color: var(--light);
  padding: 25px 0 75px 0;
}
.welcome-button {
  text-decoration: none;
  color: var(--light);
  letter-spacing: 2px;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background-color: var(--red);
  text-align: center;
  padding-top: 25px;

  transition: background-color .2s linear;
}
.welcome-button:hover {
  background-color: var(--gold);
}
.welcome-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 750px;
  background-image: url("./assets/images/welcome/1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcome-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  pointer-events: none;
}


/* visiting */

.visiting {
  padding: 75px 0;
}
.gold-title {
  position: relative;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--gold);
  text-transform: uppercase;
  margin-bottom: 75px;
}
.gold-title-red:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -27px;
  height: 3px;
  width: 100%;
  background-color: var(--red);
}

/* cards */
.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
  column-gap: 60px;
  padding-top: 28px;
}
.visiting-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 424px;
  cursor: pointer;
}
.card-image {
  width: 440px;
  height: 285px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-image-1 {
  background-image: url("./assets/images/visiting/royal.jpeg");
}
.card-image-2 {
  background-image: url("./assets/images/visiting/denon.jpeg");
}
.card-image-3 {
  background-image: url("./assets/images/visiting/colonnade.jpeg");
}
.card-image-4 {
  background-image: url("./assets/images/visiting/greek.jpeg");
}
.card-image-5 {
  background-image: url("./assets/images/visiting/mona.jpeg");
}
.card-image-6 {
  background-image: url("./assets/images/visiting/night.jpeg");
}
.card-info {
  display: flex;
  flex-direction: column;
}
.card-title {
  position: relative;
  font-family: "Forum";
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.card-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  height: 2px;
  width: calc(100% - 140px);
  background-color: var(--red);

  transition: width .8s linear;
}
.visiting-card:hover .card-title:after {
  width: 100%;
}
.virtual-text {
  margin-bottom: 10px;
}
.panorama-text {
  font-size: 18px;
}



/* explore */

.explore {
  padding: 75px 0;
  height: 865px;
  background-color: var(--dark);
}
.explore-container {
  display: flex;
  justify-content: space-between;
}
.exlore-about {
  display: flex;
  flex-direction: column;
  width: 660px;
}
.light-title {
  position: relative;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--light);
  text-transform: uppercase;
  margin-bottom: 75px;
}
.light-title-red:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -27px;
  height: 3px;
  width: 100%;
  background-color: var(--red);
}
.explore-info {
  margin-top: 28px;
}
.explore-info p {
  color: var(--light);
  line-height: 38.5px;
  max-width: 645px;
}
.explore-info p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 25px;
}
.explore-yellow {
  color: var(--gold);
}
.explore-image {
  width: 720px;
  height: 700px;
  background-image: url("./assets/images/explore/color.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* video */

.video {
  padding: 75px 0;
}
.video-container {
  display: flex;
  flex-direction: column;
}
.video-intro {
  display: flex;
  justify-content: space-between;
}
.video-info {
  line-height: 38.5px;
  width: 720px;
}
.video-poster {
  width: 1440px;
  height: 650px;
  background-image: url("./assets/images/video/poster0.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-panel {
  height: 85px;
  background-color: var(--dark);
}
.video-slider {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  margin: 40px 0 52px 0;
}
.video-slide {
  width: 452px;
  height: 254px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-slide-1 {
  background-image: url("./assets/images/video/poster1.jpeg");
}
.video-slide-2 {
  background-image: url("./assets/images/video/poster2.jpeg");
}
.video-slide-3 {
  background-image: url("./assets/images/video/poster3.jpeg");
}


/* gallery */

.gallery {
  height: 2200px;
  padding-top: 75px;
  background-color: var(--dark);
}


/* tickets */

.tickets {
  padding: 75px 0;
}
.tickets-inner {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-top: 28px;
}
.tickets-image {
  width: 720px;
  height: 550px;
  background-image: url("./assets/images/tickets/tickets.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tickets-info {
  display: flex;
  justify-content: space-between;
  gap: 240px;
}
.tickets-title {
  font-size: 28px;
  font-weight: bold;
  
}
.tickets-title-type {
  margin-left: -40px;
  margin-bottom: 50px;
}
.tickets-title-amount {
  margin-bottom: 15px;
}

/* radio buttons */

.label-type {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
}
.label-type input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 25%;
  left: -40px;
  width: 17px;
  height: 17px;
  border: 2px solid var(--dark);
  border-radius: 50%;
}
.checkmark:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--dark);
  display: none;
}
.label-type input:checked ~ .checkmark:after {
  display: block;
}

/* amount */
.tickets-amount {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.tickets-selection {
  display: flex;
  flex-direction: column;
}
.label-amount {
  display: block;
  margin-top: 10px;
}
.tickets-selection input {
  all: unset;
  width: 145px;
  height: 45px;
  border: 3px solid var(--dark);
  text-align: center;
}
.tickets-basic-container {
  position: relative;
  margin-top: 15px;
}
.step {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  font-size: 32px;
  font-weight: 200;
  cursor: pointer;
  color: var(--dark);
}
.step-down {
  position: absolute;
  top: 9px;
  left: 10px;
}
.step-up {
  position: absolute;
  top: 9px;
  right: 10px;
}
.tickets-total {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 60px;
}
.total-euro {
  font-size: 28px;
  font-weight: bold;
}
.tickets-button {
  text-decoration: none;
  color: var(--light);
  letter-spacing: 2px;
  background-color: var(--dark);
  padding: 15px 37px;
}


/* parallax */

.parallax {
  height: 400px;
  background-image: url("./assets/images/parallax/parallax.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* contacts */
.contacts {
  padding: 75px 0;
}
.contacts-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}
.contacts-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}
.contacts-map {
  width: 960px;
  height: 620px;
  border: 1px solid blue;
}
.contacts-info p {
  margin-bottom: 25px;
}


/* footer */
footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 75px 0 50px 0;
}
/* .footer-container {
  display: flex;
  flex-direction: column;
} */
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
  gap: 145px;
}
.columns-nav {
  display: flex;
  gap: 150px;
}
.nav-list-footer {
  flex-direction: column;
  gap: 25px;
  margin-top: 12px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 25px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
  text-decoration: none;

  transition: border-color .2s linear;
}
.social-icon {
  fill: var(--light);

  transition: fill .2s linear;
}
.social-item:hover .social-icon {
  fill: var(--gold);
}
.social-item:hover {
  border-color: var(--gold);
}
.line-footer {
  /* width: 100%; */
  height: 3px;
  background-color: #666666;
  margin: 50px 0;
}
.footer-rights {
  display: flex;
  justify-content: space-between;
}
.school, .user {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 22px;
  color: var(--light);

  transition: color .2s linear;
}
.school:hover {
  color: var(--gold);
}
.user:hover {
  color: var(--gold);
}