:root {
  --dark: #030303;
  --light: #FFFFFF;
  --gold: #9d8665;
  --red: #710707;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 22px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
  height: 150px;
}
.container {
  margin: 0 auto;
  width: 1440px;
  /* border: 1px solid red; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 25px;
  cursor: pointer;
}
.logo-img {
  width: 50px;
  height: 30px;
  mask-image: url("./assets//svg/logo.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--light);

  transition: background-color .2s linear;
}
.logo-text {
  font-family: "Forum";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;

  transition: color .2s linear;
}
.logo:hover  .logo-text {
  color: var(--gold);
}
.logo:hover  .logo-img {
  background-color: var(--gold);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  font-weight: 200;
  line-height: 100px;
  letter-spacing: 2px;
}
.nav-link {
  cursor: pointer;

  transition: color .2s linear;
}
.nav-link:hover {
  color: var(--gold);
}


/* welcome */

.welcome {
  height: 810px;
  background-color: var(--dark);
}
.welcome-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.welcome-title {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Forum";
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--light);
}
.welcome-subtitle {
  font-size: 28px;
  letter-spacing: 2px;
  color: var(--light);
  padding: 25px 0 75px 0;
}
.welcome-button {
  text-decoration: none;
  color: var(--light);
  letter-spacing: 2px;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background-color: var(--red);
  text-align: center;
  padding-top: 25px;

  transition: background-color .2s linear;
}
.welcome-button:hover {
  background-color: var(--gold);
}
.welcome-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 750px;
  background-image: url("./assets/images/welcome/1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcome-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  pointer-events: none;
}


/* visiting */

.visiting {
  padding: 75px 0;
}
.gold-title {
  position: relative;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--gold);
  text-transform: uppercase;
  margin-bottom: 75px;
}
.gold-title-red:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -27px;
  height: 3px;
  width: 100%;
  background-color: var(--red);
}

/* cards */
.visiting-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
  column-gap: 60px;
  padding-top: 28px;
}
.visiting-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 424px;
  cursor: pointer;
}
.card-image {
  width: 440px;
  height: 285px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-image-1 {
  background-image: url("./assets/images/visiting/royal.jpeg");
}
.card-image-2 {
  background-image: url("./assets/images/visiting/denon.jpeg");
}
.card-image-3 {
  background-image: url("./assets/images/visiting/colonnade.jpeg");
}
.card-image-4 {
  background-image: url("./assets/images/visiting/greek.jpeg");
}
.card-image-5 {
  background-image: url("./assets/images/visiting/mona.jpeg");
}
.card-image-6 {
  background-image: url("./assets/images/visiting/night.jpeg");
}
.card-info {
  display: flex;
  flex-direction: column;
}
.card-title {
  position: relative;
  font-family: "Forum";
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.card-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  height: 2px;
  width: calc(100% - 140px);
  background-color: var(--red);

  transition: width .8s linear;
}
.visiting-card:hover .card-title:after {
  width: 100%;
}
.virtual-text {
  margin-bottom: 10px;
}
.panorama-text {
  font-size: 18px;
}



/* explore */

.explore {
  padding: 75px 0;
  height: 865px;
  background-color: var(--dark);
}
.explore-container {
  display: flex;
  justify-content: space-between;
}
.exlore-about {
  display: flex;
  flex-direction: column;
  width: 660px;
}
.light-title {
  position: relative;
  font-family: "Forum";
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  color: var(--light);
  text-transform: uppercase;
  margin-bottom: 75px;
}
.light-title-red:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -27px;
  height: 3px;
  width: 100%;
  background-color: var(--red);
}
.explore-info {
  margin-top: 28px;
}
.explore-info p {
  color: var(--light);
  line-height: 38.5px;
  max-width: 645px;
}
.explore-info p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 25px;
}
.explore-yellow {
  color: var(--gold);
}
.explore-image {
  width: 720px;
  height: 700px;
  background-image: url("./assets/images/explore/color.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* video */

.video {
  padding: 75px 0;
}
.video-container {
  display: flex;
  flex-direction: column;
}
.video-intro {
  display: flex;
  justify-content: space-between;
}
.video-info {
  line-height: 38.5px;
  width: 720px;
}
.video-poster {
  width: 1440px;
  height: 650px;
  background-image: url("./assets/images/video/poster0.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-panel {
  height: 85px;
  background-color: var(--dark);
}
.video-slider {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  margin: 40px 0 52px 0;
}
.video-slide {
  width: 452px;
  height: 254px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-slide-1 {
  background-image: url("./assets/images/video/poster1.jpeg");
}
.video-slide-2 {
  background-image: url("./assets/images/video/poster2.jpeg");
}
.video-slide-3 {
  background-image: url("./assets/images/video/poster3.jpeg");
}


/* galery */

.galery {
  height: 2200px;
  padding-top: 75px;
  background-color: var(--dark);
}